*{
    margin: 0px;
    padding: 0px;
}

html, body{
    margin: 0px;
    height: 100%;
    width: 100%;
    }
    .intro{
    height: 100%;
    width: 100%;
    background: url(home.jpg);
    background-size: cover;
    }
    .inner{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
    }
    .innerbg{
    
    text-align: center;
    margin: auto;
    }
    .innerbg h1 {

    font-family: 'Raleway', sans-serif;
    
    text-shadow: 15px 15px 800px darkblue ;
    font-size: 400%;
    margin-left: 450px;
    margin-right: -700px;
    margin-top: 300px
    }
.start{
    
border-radius: 9px;
font-family: 'Oswald', sans-serif ;
color: #02386E;
font-size: 135%;
padding: 10px 20px;
border: solid #02386E 3px;
text-decoration: none;
margin-left: 100px;
margin-right: -1000px;

 /* margin-left: 60px;
margin-right: -1000px;  */
/* margin-top: 50px;  */
}
.start:hover{
color: red;
border: solid red 3px;
box-shadow: 2px 2px 300px #E00A0D ;
}

.para{

text-align: center;
font-size: 700%;
line-height: 90%;
font-family: sans-serif;
color: rgb(107, 55, 55);
padding: 20px;
background: url("pxfuel.jpg") no-repeat;
background-size:1920px ;
margin-left: 30px;
border-radius: 4px;
}
.para2{
text-align: center;
font-size: 160%;
line-height: 470%;
font-family: sans-serif;
color: white;
padding: 20px;
background: url("pxfuel\(1\).jpg") no-repeat;
/* background-size:1400px ; */
border-radius: 4px;
}
.para3{
text-align: center;
font-size: 160%;

line-height: 470%;
font-family: sans-serif;
color: white;
padding: 20px;
background: url("images.jpeg") no-repeat;
background-size:100% ;
border-radius: 4px;
}
.middle{
font-family: "Montserrat-Black";
font-weight: bolder;
font-size: 50px;
color: black;
margin-top: 70px;
}
.middlepara{
color: black;
font-size: 17px;
padding: 0px 90px 0px 90px;
line-height: 20px;
}
.middle2{
font-family: "Montserrat-Black";
font-weight: bolder;
font-size: 50px;

color: black;
margin-top: 70px;
text-align: left;
}
.middlepara2{
color: black;
font-size: 17px;
padding: 0px 300px 0px 0px;
line-height: 20px;
text-align: justify;
margin-top: -10px;
}
.copyright{
text-align: center;
padding: 0px 80px 0px 80px;
background: #05548E;
color: white;
font-family: "Arial";
line-height: 20px;
}
.top{
padding: 0px;
float: left;
position: fixed;
margin-left: 45px;
}

#menu ul
{
list-style:none;
box-shadow: 10px 25px 75px 30px white;
opacity: 0.98;
}
#menu ul li
{
background-color: #005BFC;
border:1px solid #005BFC;
width: 180px;
height:65px;
line-height:65px;
text-align:center;
float:left;
position: relative;
border-radius: 8px;
margin: 1.5px;
}
#menu
{
margin: auto;
}
#menu ul li:nth-child(2){
width:180px;
}

#menu ul li:nth-child(3){
width:180px;
}
#menu ul li:nth-child(6){
width:180px;
}
#menu ul li:nth-child(7){
width:180px;
}
#menu ul li:nth-child(8){
width:135px;
}
#menu ul.drop2 li{
width:200px;
background-color:#27AE60;
border: solid #27AE60;
margin: 1px;
margin-left: -45px;
}
#menu ul.drop1 li{
width:180px;
background-color:#27AE60;
border: solid #27AE60;
margin: 1px;
margin-left: -45px;
}

#menu ul li a
{
text-decoration:none;
color:white;
display:block;
font-family:"Maiandra GD";
font-size: 125%;
}
#menu ul li a:hover
{
background-color:#229954;
border:1px solid #229954;
border-radius: 7px;
font-size: 120%;
font-family:"Maiandra GD";
box-shadow: 0px 0px 20px 0px white;
}
#menu ul ul
{
position:absolute;
display: none;
}
#menu ul li:hover > ul
{
display: block;
}

#menu ul li:hover > ul
{
animation: load 1s forwards;
animation-duration: 600ms;
animation-name: menu;
}




.para4{
    
    align-items: center;
    height: 800px;
    font-size: 1%;
    background-color: #02386E;
   

}
.head2{
    text-align: center;
    color:black;
    text-align: center;
    background-color:#0c244e;
    font-size: 40px;
    

}
.para5{
    font-size: 30px;
    text-align: center;
    background-color: #02386E;
    height: 700px;


}
.head3{
    text-align: center;
    color:black;
    text-align: center;
    background-color:#0c244e;
    font-size: 40px;
}
.para6{
    font-size: 30px;
    text-align: center;
    background-color: #02386E;
    height: 700px;
}
    .home {
    color: white;
    font-size: 30px;
    text-decoration: none;
    }
    .home:hover {
    border: solid white 3px;
    }
     .para4{
    margin: 30px;
    
    line-height: 30px;
    font-size: 25px;
    color: aliceblue;
    font-family: "Maiandra GD";
    }
    .ortho{
        text-align: center;
        background-color:rgb(6, 6, 112);
        color:white;
    }

    .orthopara{
    margin-right: 10px;
    line-height: 25px;
    font-size: 20px;
    background-color: #97a1b3;
    color: rgb(27, 13, 99);
    font-family: "Maiandra GD";
    text-align: justify;
    }
    p.additional1 {
    margin: 30px;
    margin-right: 350px;
    line-height: 25px;
    font-size: 20px;
    color: aliceblue;
    font-family: "Maiandra GD";
    text-align: justify;
    }
    table, th, td{
    
    margin: auto;
    border: 1px solid #FFFFFF;
    border-collapse: collapse;
    font-family: arial;
    }
    th{
    font-size: 20px;
    color: white;
    }
    td{
    color: white;
    }
    .depttlist{
    line-height: 30px;
    font-size: 20px;
    color: aliceblue;
    font-family: "Maiandra GD";
    text-align: justify;
    margin-left: 50px;
    }
    .emergency{
    margin-right: 70px;
    }
    .bullets {
    margin: 30px;
    line-height: 30px;
    
    font-size: 25px;
    color: aliceblue;
    font-family: "Maiandra GD";
    }
    .back {
    margin-bottom: -20px;
    }
    .rules {
    margin-left: 330px;
    margin-top: -15px;
    }
    .download {
    margin-bottom: -100px;
    margin-left: 50px;
    }
    .firstrow {
    margin-left: 70px;
    }
    .secondrow {
    
    margin-left: 70px;
    }
    .thirdrow {
    margin-left: 70px;
    }
    .fourthrow {
    margin-left: 70px;
    }
    .fifththrow {
    margin-left: 70px;
    }
    h2 {
    color: antiquewhite;
    margin-left: 20px;
    text-decoration: underline;
    }
    .leaderimg{
    margin-left: 120px;
    }
    .booked {
        font-family: Candara;
        margin-bottom: -220px;
        font-size: 25px;
        font-weight: bold;
        }
        .formname{
            
        width: 400px;
        height:40px;
        border-radius: 5px
        }
        .appointmentform{
            
        margin-top: -150px;
        margin-left: 0px;
        line-height: 20px;
        margin-bottom: 100px;
        background-color: rgb(32, 2, 59);
        color: white;
        font-family: arial;
        font-size: 20px;
        }
        .appointment{
            color: white;
            margin-top: -5px;
            
            
        }
        .address{
            margin-top: 200px;
            margin-left: 20px;
            font-size: 18px;
            line-height: 16px;
        }
        .name{
            
            width: 400px;
            height:30px;
            border-radius: 5px
        }
        .contactform{
            margin-top: -690px;
            margin-left: 250px;
            
            
            background-color: #010629;
            
        }
    
        
        .contact{
            color: #229954;
            margin-top: -150px;
            background-color: #071836;
        }

        
        .booked {
        color: white;
        text-align: center;
        margin-top: 200px;
        }
        .map{
            margin-top: 100px;
        }
       
        .submitbtn{
        margin-left: 600px;
        display: inline-block;
        padding: 15px 25px;
        font-size: 20px;
        cursor: pointer;
        text-align: justify;
        outline: none;
        color: black;
        background-color:#FFF;
        border: none;
        
        border-radius: 15px;
        box-shadow: 0 5px #999;
        }
        .submitbtn:hover {
        background-color:#0012A6;
        color: white;}
        .submitbtn:active {
        background-color: #0012A6;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
        }
        .resetbtn{
        margin-left: 50px;
        display: inline-block;
        padding: 15px 25px;
        font-size: 20px;
        cursor: pointer;
        text-align: justify;
        outline: none;
        color: black;
        background-color:#FFF;
        border: none;
        border-radius: 15px;
        box-shadow: 0 5px #999;
        
        }
        .resetbtn:hover {
        background-color:#0012A6;
        color: white;}
        .resetbtn:active {
        background-color: #0012A6;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
        }
        h1 {
        margin: 0px;
        color: darkblue;
        text-align: center;
        background-color:white;
        font-size: 40px;
        }
        .home {
        color: rgb(84, 36, 112);
        background-color: #b999a0;
        font-size: 30px;
        text-decoration: none;
        }
        .home:hover {
        border: solid rgb(255, 255, 255) 3px;
        }
        .back {
        
        margin-bottom: -20px;
        }
        